.new-folder-input {
  margin-left: 1rem;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
}

.new-folder-input input {
  margin-right: 0.8rem;
  padding: 0.4rem;
  border: 1px solid var(--input-border-color);
  border-radius: 0.4rem;
  font-size: 1.4rem;
}
.new-folder-input button {
  padding: 0.4rem 0.8rem;
  background-color: var(--primary-color);
  border: none;
  color: var(--button-text-color);
  border-radius: 0.4rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.new-file-input {
  margin-left: 1rem;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
}

.new-file-input input {
  margin-right: 0.8rem;
  padding: 0.4rem;
  border: 1px solid var(--input-border-color);
  border-radius: 0.4rem;
  font-size: 1.4rem;
}

.new-file-input button {
  padding: 0.4rem 0.8rem;
  background-color: var(--primary-color);
  border: none;
  color: var(--button-text-color);
  border-radius: 0.4rem;
  font-size: 1.4rem;
  cursor: pointer;
}
