.file-tree {
  font-family: Arial, sans-serif;
  font-size: 1.6rem;
  background-color: red;
}

.file-tree ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.file-tree-node {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
  padding: 0.4rem;
  cursor: pointer;
}

.file-tree-node:hover {
  background-color: #eef;
}

.file-tree-node.selected {
  background-color: #cfc;
}

.file-tree-node.directory .file-tree-node-icon {
  width: 2rem;
  text-align: center;
}

.file-tree-node.directory .file-tree-node-icon:before {
  content: attr(data-icon);
  display: inline-block;
}

.file-tree-node.directory .file-tree-node-icon:before {
  content: "+";
}

.file-tree-node.directory.is-expanded .file-tree-node-icon:before {
  content: "-";
}

.file-tree-node-content {
  flex-grow: 1;
}

.file-tree-new-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
  padding: 0.4rem;
  cursor: pointer;
}

.file-tree-new-item:hover {
  background-color: #eef;
}

.file-tree-new-item-icon {
  width: 2rem;
  text-align: center;
}
